In [1]:
print("hello world")

hello world

In [5]:
print("india",'pakisthan','you & me',sep=" @@ ",end=' grandEnding ')

india @@ pakisthan @@ you & me grandEnding

In [6]:
print(end="Nice way to print")

Nice way to print

## dataTypes

### Python supports 3 categories of data types:
1. Basic Types - (integer,float,complex,boolean and string)
2.  Container Types - (List,Tuples, Sets and Dictionary)
3.  User-defined Types - Class

In [9]:
# integer
print(4)
print(1e309)

4
inf

In [10]:
# float
print(4.5)
print(1.7e308)

4.5
1.7e+308

In [11]:
# boolean
print(True)
print(False)

True
False

In [12]:
# complex
print(4+5j)

(4+5j)

In [13]:
# string
print('Kolkata')
print("Kolkata")
print("""Kolkata""")

Kolkata
Kolkata
Kolkata

In [14]:
# list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [15]:
# tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [16]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [17]:
# dict
print({"Name":"Nitish","Age":30,"gender":"Male"})

{'Name': 'Nitish', 'Age': 30, 'gender': 'Male'}

## KeyWords

python in case sensitive lang. In programming, a keyword is a word that is reserved by a program because the word has a special meaning. Keywords can be commands or parameters. Every programming language has a set of keywords that cannot be used as variable names.

In [18]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Indentifiers
### Rules for setting Identifiers
1. can only start with an alphabet or _
2. Followed by 0 or more letter,_ and digits
3. keywords cannot be used as an identifiers

## Input and Type Conversion

In [22]:
input("enter what you wnat ot input: ")

'45'

In [20]:
dType=input("In which type you want to converst data ?\n int , bool or string ? ")

In [21]:
print(dType)

int

In [23]:
print(type(dType))

<class 'str'>

### typeConversion(not a permanent operation)
1. -- implicit( automatic tpye cast by python )
2. -- explicit(programmer need to do)

In [25]:
#implicit

print(4+4.5)
print(5+6+7j)

8.5
(11+7j)

In [27]:
#explicit

int('45')
float(4)
bool(3)

True

In [28]:
complex(1,4)

(1+4j)

In [29]:
list('hello')

['h', 'e', 'l', 'l', 'o']

## Literals
Literal is a raw data given in a variable. In Python, there are various types of literals they are as follows: <br/>

Numeric Literals <br/>
String Literals <br/>
Boolean Literals <br/>
Special Literals

In [30]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [31]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [32]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [33]:
#special
a = None
print(a)

None

## Operators
Operators are used to perform operations on variables and values. Python has the following operators:<br/>

Arithmetic operators<br/>
Comparison operators<br/>
Logical operators<br/>
Bitwise operators<br/>
Assignment operators<br/>
Identity operators<br/>
Membership operators

Strings are sequence of Characters<br\>

In Python specifically, strings are a sequence of Unicode Characters

In [34]:
c="Hello World"

In [36]:
print(c[0:5])

print(c[2:])

print(c[:4])

print(c[:])

Hello
llo World
Hell
Hello World

In [37]:

print(c[0:8:3])

print(c[0:6:-1])

print(c[-5:-1:2])


print(c[::-1])


print(c[-1:-5:-1])

HlW

Wr
dlroW olleH
dlro

In [38]:
'h' in c

False

In [39]:
'world' not in c

True

## String Function

Common Functions <br/>
len<br/>
max<br/>
min<br/>
sorted

In [40]:
sorted(c,reverse=True)

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

In [44]:
"it is raining today".capitalize()

'It is raining today'

In [45]:
"it is raining today".title()

'It Is Raining Today'

In [46]:

"KoLkAtA".swapcase()

'kOlKaTa'

In [41]:
"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [43]:
"who is the pm of india".split("i")

['who ', 's the pm of ', 'nd', 'a']

In [47]:

"it is raining".find("x")

-1

In [49]:
"it is raining".index("i")

0

In [50]:
"it is raining".endswith("ingef")

False

In [51]:
"Hello my name is {} and I am {}".format("Nitish",30)

'Hello my name is Nitish and I am 30'

In [53]:
"Hello my name is {1} and I am {0}".format("Nitish",30)

'Hello my name is 30 and I am Nitish'

In [54]:
"Hello my name is {age} and I am {name}".format(name = "Nitish",age = 30)

'Hello my name is 30 and I am Nitish'

In [56]:
"Hello my name is {name} and I am {age}".format(name = "Nitish",age = 30, weight = 70)

'Hello my name is Nitish and I am 30'

In [57]:
" ".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who is the pm of india'

In [58]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

In [59]:
"Hi my name is Nitish".replace("Nitish","Amit")

'Hi my name is Amit'

In [62]:
name = "               nitish              "
name.strip()

'nitish'

## <b> LIST <b>

array homogeneous and list hetrogeneous<br/>
array's memory continious<br/>
Array is much faster<br/>
List are more Progremming friendly <br/>
List are mutable, means changeing value is applicable

In [63]:
lst=[]
print(lst)

[]

In [65]:
l3=[1,2,3,[4,5]]
print(l3)

[1, 2, 3, [4, 5]]

In [74]:
l3D=[[[1,2],[3,4]],[[5,6],[8,9]]]
print(l3D)

print(l3D[1][1][1])

[[[1, 2], [3, 4]], [[5, 6], [8, 9]]]
9

In [75]:
l5=list("haldia")
print(l5)

['h', 'a', 'l', 'd', 'i', 'a']

In [76]:
l3D[-1][-1][-1]

9

In [91]:
#append , extend & insert to add value

List=[1,2,4]

List.append(5)
print(List)
List.extend(l5)
print(List)
List.insert(1,"one is added")
print(List)

[1, 2, 4, 5]
[1, 2, 4, 5, 'h', 'a', 'l', 'd', 'i', 'a']
[1, 'one is added', 2, 4, 5, 'h', 'a', 'l', 'd', 'i', 'a']

In [92]:
# del , remove,pop & clear to delete value from list

del(List[0]) #remove based on index
print(List)
List.remove('a') #specific index value
print(List)

#List.clear()

print(List) #full list clear

['one is added', 2, 4, 5, 'h', 'a', 'l', 'd', 'i', 'a']
['one is added', 2, 4, 5, 'h', 'l', 'd', 'i', 'a']
['one is added', 2, 4, 5, 'h', 'l', 'd', 'i', 'a']

In [104]:
l=[1,2,3,4,1,5]
l.sort()
print(l)

[1, 1, 2, 3, 4, 5]

In [103]:
sorted(l)
print(l)

[1, 2, 3, 4, 1, 5]

## Tuple

bounded by ()<br/>
almost similar as List <br/>
Tuple is immutable<br/>
can't add new item<br/>
can't delete single item<br/>
Tuples are READ ONLY dataType

In [108]:
t5=(1)
type(t5)

int

In [107]:
t5=(1,)
type(t5)

tuple

## Sets

Four rules:<br/>
1. don't allow duplicate<br/>
2. has no indexing but use hashing<br/>
3. don't allow mutable datatype<br/>
4. set itself mutatable datatype

In [109]:
# some action and function with sets

s1={1,2,3,4,5}
s2={3,4,5,6,7}

In [110]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [111]:
s1.intersection(s2)

{3, 4, 5}

In [112]:
s1.difference(s2)

{1, 2}

In [113]:
s2.difference(s1)

{6, 7}

In [114]:
s1.symmetric_difference(s2)

{1, 2, 6, 7}

In [115]:
s1.isdisjoint(s2)

False

In [116]:
s1.issubset(s2)

False

In [117]:
s1.issuperset(s2)

False

In [118]:
s1.clear()

## Dictionary

DictName ={key : value}

few rules to Remember:<br/>

1. Dictionary has no indexing
2. Dictionary is mutable types
3. Keys -> immutable, values -> they can be mutable
4. keys should be unique

### Mutable -> List/Sets/Dictionary
### Immutable -> Strings/Tuples/int/float/Boolean/complex

In [119]:
D={'Name':'Safaet Ullah','Age':25,'Mark':{'CSE':00,"HSC":80,"SSC":90}}

In [121]:
print(D)

print(D['Mark']['CSE'])

{'Name': 'Safaet Ullah', 'Age': 25, 'Mark': {'CSE': 0, 'HSC': 80, 'SSC': 90}}
0

In [122]:
#operation


for i in D:
    print(i) # only get key Z
# to get values have to modify a little bit

Name
Age
Mark

In [123]:
'Safaet' in D

False

In [124]:
'Name' in D

True

In [128]:
D.keys()

dict_keys(['Name', 'Age', 'Mark'])

In [127]:
D.values()

dict_values(['Safaet Ullah', 25, {'CSE': 0, 'HSC': 80, 'SSC': 90}])